@font-face {
  font-family: "Playfair";
  font-style: italic;
  font-weight: 400 900;
  font-stretch: 100%;
  src: local("Playfair Display Italic"), local("PlayfairDisplay-Italic"),
    url(../assets/fonts/playfair-display-italic.woff2) format("woff2"),
    url(../assets/fonts/playfair-display-italic.woff) format("woff");
  font-display: auto;
}
/* playfair-display */
@font-face {
  font-family: "Playfair";
  font-style: normal;
  font-weight: 400 900;
  font-stretch: 100%;
  src: local("Playfair Display Regular"), local("PlayfairDisplay-Regular"),
    url(../assets/fonts/playfair-display.woff2) format("woff2"),
    url(../assets/fonts/playfair-display.woff) format("woff");
  font-display: auto;
}
/* roboto-italic */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 75% 100%;
  font-stretch: 100%;
  src: local("Roboto Italic"), local("Roboto-Italic"),
    url(../assets/fonts/roboto-italic.woff2) format("woff2"),
    url(../assets/fonts/roboto-italic.woff) format("woff");
  font-display: auto;
}
/* roboto */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 75% 100%;
  font-stretch: 100%;
  src: local("Roboto Regular"), local("Roboto-Regular"),
    url(../assets/fonts/roboto.woff2) format("woff2"),
    url(../assets/fonts/roboto.woff) format("woff");
  font-display: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --font-family: "Roboto", system-ui, sans-serif;
  --alt-font-family: "Playfair", "Roboto", system-ui, sans-serif;
  --wrapper-background-color: whitesmoke;
  --background-color: white;
  --primary-text-color: black;
}

body {
  position: relative;
  font-family: var(--font-family);
  line-height: 1.2em;
  background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1em;
  font-family: var(--alt-font-family);
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
}
.wrapper {
  max-width: 90%;
  position: inherit;
  margin-inline: auto;
  background-color: var(--wrapper-background-color);
  color: var(--primary-text-color);
  margin-inline: auto;
}

.profile-card {
  margin-inline: auto;
  max-width: fit-content;
  margin-inline: auto;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.15);
  margin-block: 2rem;
}
.profile-image {
  width: 90%;
  position: relative;
  top: 5%;
  left: 5%;
}
.profile-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.15);
}
.profile-name {
  position: absolute;
  bottom: 0.5em;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-align: center;
  background-image: linear-gradient(hsl(0, 0%, 0%/0.5));
}
.profile-icons {
  max-width: fit-content;
  margin-inline-start: auto;
  margin-block-start: 1rem;
  display: flex;
}

.profile-icon {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  filter: none;
}
.profile-text {
  width: 90%;
  background-image: linear-gradient(hsl(0, 0%, 0%/0.5));
  padding-inline: 1em;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.15);
}
.profile-title {
  padding-block: 1em 0.5em;
  font-size: 2rem;
}
.profile-text p {
  text-align: justify;
}

.project-cards {
  width: 90%;
  margin-inline: auto;
}

.project-card {
  width: 100%;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.15);
  transition: all 100ms ease-in-out;
}

.project-card:hover {
  transform: scale(1.05);
}
.container-card-image {
  width: 90%;
  margin-inline: auto;
  padding-block: 0.5rem;
}

.card-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}
.card-image:hover {
  cursor: pointer;
}

.card-heading {
  font-size: 2rem;
  padding: 0.5rem 1rem;
}

.card-description {
  padding-inline: 1rem;
  text-align: justify;
}

.project-card-icons {
  width: fit-content;
  display: flex;
  gap: 0.25rem;
  margin-inline-start: auto;
  margin-inline-end: 2rem;
  padding-block: 1rem;
}
.project-card-icon {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  filter: none;
}

.contact-card {
  display: grid;
  max-width: 80%;
  margin-inline: auto;
  grid-template-columns: 1fr;
  margin-block: 1rem 4rem;

  background-color: #0891b2;
}

.contactme-title {
  font-size: 3rem;
  padding-inline-start: 4.5rem;
  padding-block: 1rem 2rem;
}

.contactme-tagline {
  font-size: 2rem;
  line-height: 1.1em;
  margin-block-end: 2rem;
  padding-inline-start: 4.5rem;
}

.contact {
  display: flex;
  padding-inline-start: 2.5rem;
  font-size: 1.5rem;
  line-height: 1.1em;
  align-items: center;
  column-gap: 0.5rem;
  padding-block: 0.25rem;
}

.contactme-address {
  padding-inline-start: 4.5rem;
  font-size: 1.5rem;
  line-height: 1.1em;
}

.contactme-address:nth-of-type(3) {
  padding-block-end: 2rem;
}

.inline-icon {
  height: 1.5rem;
  width: 1.5rem;
}

#lightbox {
  position: fixed;
  display: none;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 500ms ease-in-out;
  transform-origin: top;
}

#lightbox.active {
  display: flex;
  align-items: center;
  justify-content: center;
}

#lightbox-image {
  width: 500px;
  height: 500px;
  border: 2px solid white;
  background: black;
  padding: 4px;
  object-fit: cover;
}

@media screen and (width < 640px) {
  .profile-image {
    background: linear-gradient(
      to bottom right,
      #0891b2 50%,
      var(--wrapper-background-color) 50%
    );
  }
  .contact-card .profile-text {
    margin-block-end: 2rem;
  }
}

@media screen and (639px < width < 960px) {
  /* Tablet */
  .profile-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    background: linear-gradient(
      to bottom right,
      #0891b2 50%,
      var(--wrapper-background-color) 50%
    );
  }
  .project-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
  }
  .image img {
    content: url("../assets/images/raster/self-portrait.webp");
  }
  .contact-card {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (width > 960px) {
  /* Computer */
  .profile-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    background: linear-gradient(
      to bottom right,
      #0891b2 50%,
      var(--wrapper-background-color) 50%
    );
  }
  .project-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    align-items: center;
    justify-content: center;
    max-width: fit-content;
    margin-inline: auto;
  }
  .contact-card {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --background-color: black;
    --wrapper-background-color: rgb(29, 28, 28);
    --primary-text-color: whitesmoke;
    --card-width: calc(var(--profile-image-width) * 2 / 3 - 1rem);
  }
  .project-card-icon,
  .profile-icon {
    filter: invert(1) brightness(2);
  }
}
